@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page" style="background-color: #CC66CC">
    <h2>
        ACARA!!!!!!
    </h2>
    <div class="box-acara">
        <div class="boxSmall-acara">
            Januari
        </div>
        <div class="boxSmall-acara">
            Februari
        </div>
        <div class="boxSmall-acara">
            Maret
        </div>
        <div class="boxSmall-acara">
            April
        </div>
        <div class="boxSmall-acara">
            Mei
        </div>
        <div class="boxSmall-acara">
            Juni
        </div>
        <div class="boxSmall-acara">
            Juli
        </div>
        <div class="boxSmall-acara">
            Agustus
        </div>
        <div class="boxSmall-acara">
            September
        </div>
        <div class="boxSmall-acara">
            Oktober
        </div>
        <div class="boxSmall-acara">
            November
        </div>
        <div class="boxSmall-acara">
            Desember
        </div>
    </div>
</div>

