@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page" style="background-color: #FF6666">
    <h2>
        TRANSPORTASI
    </h2>
    <div class="mediabox-1" style="min-width:700px">
    <div class="boxSmall-2" style="float:left; width:75%; background-color:blue">

    </div>
    <div class="boxSmall-2" style="float: left; width: 20%; background-color: transparent">
        <div class="boxSmall-3">
            Bus
        </div>
        <div class="boxSmall-3">
            Taksi
        </div>
        <div class="boxSmall-3">
            Angkot
        </div>
        <div class="boxSmall-3">
            Kereta Api
        </div>
        <div class="boxSmall-3">
            Pesawat
        </div>
        <div class="boxSmall-3">
            Kapal Laut
        </div>
    </div>
</div>
</div>



