@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-page" style="background-color: #FFCC99;">
    <h2>
        RUMAH MAKAN!!!
    </h2>
    <div class="mediabox-1" style="min-width: 700px">
        <div class="boxSmall-2" style="float:left; width:75%; background-color:blue">

        </div>
        <div class="boxSmall-2" style="float: left; width: 25%; background-color: transparent">
            <div class="boxSmall-3">
                Surabaya Timur
            </div>
            <div class="boxSmall-3">
                Surabaya Barat
            </div>
            <div class="boxSmall-3">
                Surabaya Selatan
            </div>
            <div class="boxSmall-3">
                Surabaya Utara
            </div>
            <div class="boxSmall-3">
                Surabaya Selatan
            </div>
        </div>
    </div>
</div>



