.row-page{
    width: 100%;
    min-height:630px;          
    float:left;
    background-color: gray; 
    padding-top:30px;
    padding-bottom:20px;
}

.row-page h2
{
    color:yellow;
    text-align:center;  
    margin-bottom:40PX;      
}

.boxHeight-10 
{
    min-height: 200px;    
    width:84%;
    float:left;    
    margin-bottom:25px;
    margin-left:7.5%;
    margin-right:7.5%;        
}

.boxHeight-inner-1 
{
    min-height: 200px;
    width:355px;    
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    float:left;
}

.boxSmall-1
{
    width:300px;
    min-height: 45px;
    background-color: green;
    margin-left:auto;
    margin-right:auto; 
    margin-top:30px;
    padding-top:5px;   
    /*margin-left:10px;
    margin-right:5px;*/
}

.boxSmall-2
{
    width:300px;
    min-height: 160px;
    background-color: red;
    margin-left:auto;
    margin-right:auto; 
}

.boxSmall-1:hover
{
    background-color:gray;    
}

.boxSmall-1 h4
{
    text-align: center;    
    color: white;
}

.boxSmall-1 h4:hover
{    
    color: green;
}

.mediabox {
	float: left;
	width: 100%;    
	padding: 50px 25px 30px 25px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	/*margin: 0.75em 0 0.5em;*/
    margin:20px auto;
    text-align:center;
    color:white;
}

.mediabox p {
	margin: 0;
	line-height: 1.5;
    text-align:justify;
    color:white;
    text-indent: 20px;
}




.rotator{
    background-color:#222;
    width:47%;
    height:300px;    
    margin:0px auto;
    position:relative;
    font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:-1px;
    border:3px solid #f0f0f0;
    overflow:hidden;
    -moz-box-shadow:0px 0px 10px #222;
    -webkit-box-shadow:0px 0px 10px #222;
    box-shadow:0px 0px 10px #222;
}
img.bg{
    position:absolute;
    top:0px;
    left:0px;
}
.rotator ul{
    list-style:none;
    position:absolute;    
    right:0px;
    top:0px;
    margin-top:6px;
    z-index:10;
}
.rotator ul li{
    display:block;
    float:right;
    clear:both;    
}
.rotator ul li a{
    width:230px;
    float:right;
    clear:both;    
    padding-left:10px;
    text-decoration:none;
    display:block;
    height:52px;
    line-height:52px;
    background-color:#222;
    margin:1px -20px 1px 0px;
    opacity:0.7;
    color:#f0f0f0;
    font-size:20px;
    border:2px solid #000;
    border-right:none;
    outline:none;
    text-shadow:-1px 1px 1px #000;
    -moz-border-radius:10px 0px 0px 20px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-bottom-left-radius:20px;
    border-top-left-radius:10px;
    border-bottom-left-radius:20px;
}
.rotator ul li a:hover{
      text-shadow:0px 0px 2px #fff;
}
.rotator .heading{
    position:absolute;
    top:0px;
    left:0px;
    width:500px;
}
.rotator .heading h1{
    text-shadow:-1px 1px 1px #555;
    font-weight:normal;
    font-size:30px;
    padding:20px;
}
.rotator .description{
    width:400px;
    height:80px;
    position:absolute;
    bottom:0px;
    left:0px;
    padding:10px;
    background-color:#222;
    -moz-border-radius:0px 10px 0px 0px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
    opacity:0.7;
    border-top:2px solid #000;
    border-right:2px solid #000;
}
.rotator .description p{
    text-shadow:-1px 1px 1px #000;
    text-transform:none;
    letter-spacing:normal;
    line-height:15px;
}
a.more{
    color:orange;
    text-decoration:none;
    text-transform:uppercase;
    font-size:10px;
}
a.more:hover{
    color:#fff;
}