.row-page{
    width: 100%;
    min-height:630px;          
    background-color: gray;
}

.boxHeight-10 
{
    width: 100%;
    /*height: 10px;*/
    background-color: red;
}

.mediabox {
	float: left;
	width: 100%;    
	padding: 50px 25px 30px 25px;
}

.mediabox img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

.mediabox h3 {
	/*margin: 0.75em 0 0.5em;*/
    margin:20px auto;
    text-align:center;
    color:white;
}

.mediabox p {
	margin: 0;
	line-height: 1.5;
    text-align:justify;
    color:white;
    text-indent: 20px;
}